.banner img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    box-shadow: 5px 5px 4px rgba(53, 51, 51, 0.342);
}

.banner-text{
    font-size: calC(50px + 1.5vw);
    font-weight: bold;
    opacity: .85;
    color: #2F4858;
}

.banner-text-inverse{
    font-size: calC(50px + 1.5vw);
    font-weight: bold;
    opacity: .85;
    color: #BEFBFF;
}

.banner-text2{
    font-size: calc(30px + 1vw);
    opacity: .85;
    color: #2F4858;
}

.part1, .part2{
    width: 100%;
}

.part1 img, .part2 img{
    height: 500px;
}

@media only screen and (max-width: 900px){
    .banner-text2{
        font-size: calc(20px + 1vw);
    }

    .banner-text, .banner-text-inverse{
        font-size: calc(40px + 1.5vw);
    }
}

@media only screen and (max-width: 430px){
    .banner-text2{
        font-size: 16px;
    }

    .banner-text, .banner-text-inverse{
        font-size: calc(35px + 1.5vw);
    }

    .banner img{
        height: 30vh;
    }

    .part1{
        flex-direction: column-reverse;
    }

    .part2{
        flex-direction: column;
    }

    .part1 img, .part2 img{
        justify-content: center;
        height: 300px;
        margin: auto;
    }
}