@import url('https://fonts.googleapis.com/css?family=Space+Mono'); /*Titles -- Big Impact -- 'monospace'*/
@import url('https://fonts.googleapis.com/css?family=Nunito'); /*Subtitles -- Medium Impact -- 'sans-serif'*/
@import url('https://fonts.googleapis.com/css?family=Kanit'); /*Normal Text -- This should be the text you see most often on the page -- 'sans-serif'*/

html{
    font-family: 'Kanit', sans-serif;
}

h1,h2{
    font-family: 'Space-Mono', monospace;
}

.uk-navbar{
    background-color: rgba(255, 255, 255, 0.9);
}

.uk-navbar-nav li a{
    font-family: 'Kanit', sans-serif;
}

#brand img{
    height: 50px;
}

.uk-parent h3{
    font-family: 'Nunito', sans-serif;
}

.uk-offcanvas-bar{
    background-color: #2F4858;
    opacity: .96;
}

.uk-button-primary{
    background-color: #0094F5;
}

.uk-modal-footer a{
    color: #0094F5;
}