div.uk-flex img{
    height: 200px;
}

div.uk-flex hr{
    color: #2F4858;
}

i p{
    font-size: 30px;;
}

.fa-coffee:before{
    margin: 0 auto;
}

.donate1{
    color: #0CEC89
}

.donate2{
    color: #00B9FF;
}

.donate3{
    color: #FF675D;
}

@media only screen and (max-width: 430px){
    div.uk-flex{
        flex-direction: column;
    }
}